<% if  @venue %>
    <div id="venue_availability-results" class="well results-block">
      <strong>From:</strong><%= @venue.from %>
      <strong>To:</strong><%= @venue.to %>
      <strong>On:</strong><%= params[:name] %>
    </div>

    <% if current_user.can_send_request?(@venue) %>
    			-------------------------------
				<%= link_to  "send request to book this venue",new_booking_path(user: current_user, venue_id: @venue.id,from:@venue.from,to:@venue.to, on: params[:name]), class: 'btn btn-success btn-xs', method: :post, action: :create%>
				<% else %>
					<span class="label label-default">
						request cannot be send because you have already sent
						<% if !current_user.under_limit? %>
							3 requests
						<%end %>
						<% if current_user.request_already_sent?(@venue.id) %>

							 request
						<%end %>

					</span>

				<% end %>

    <div id="venue-lookup-errors">
      
    </div>
  <% end %>
</div>